h1{text-transform: uppercase;background-color: aqua;text-align: center;}
img:hover{background-color: blue;padding:30px 30px ;}
#calle{color: cadetblue;text-shadow: burlywood;}
#Edad{color: lightblue;text-shadow: burlywood;}
a{background-color: aqua;padding: 1%;}
